AVS_WorldGeneration/AVS_WorldGeneration/AVS_WorldGeneration/Service References/VoronoiWCFServiceReference/AVS_WorldGeneration.WcfCommunication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AVS_WorldGeneration.WcfCommunication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AVS_WorldGeneration.WcfCommunication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VoronoiData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Maximum" type="xs:double" />
      <xs:element minOccurs="0" name="Minimum" type="xs:double" />
      <xs:element minOccurs="0" name="Threads" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoronoiData" nillable="true" type="tns:VoronoiData" />
</xs:schema>