AVS_WorldGeneration/AVS_WorldGeneration/AVS_WorldGeneration/Service References/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/AVS_WorldGeneration.WcfCommunication" />
  <xs:element name="RandomiseVectors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AVS_WorldGeneration.WcfCommunication" minOccurs="0" name="data" nillable="true" type="q1:VoronoiData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomiseVectorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AVS_WorldGeneration.WcfCommunication" minOccurs="0" name="RandomiseVectorsResult" nillable="true" type="q2:VectorList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>